@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A8B5E0;
}

label {
    width: 100px;
    font-weight: 200;
}

p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

label, p{
    display: flex;
    justify-content: center;
}

h2{
    font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: auto;
}

img{
    width: 100px;
  height: auto;
  border-radius: 10px;
}

.heading{
    display: flex;
  align-items: center;
  
  
}

.container {
    width: 900px;
    height: 520px;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    background-color:  #DAF0F7;
}

.body-game {
    padding: 20px;
}

.itemGame{
    border:none;
    margin: 13px 0;
    padding: 20px;
    text-align: justify;
    border-radius: 8px;
    background-color: #f8f9fa;
    overflow-y: auto;
}

.itemGame span {
    font-size: 20px;
    padding-left: 7px;
    line-height: 1.6;
}

.correct {
    color: darkgreen;
}

.wrong {
    color: red;
}

.InputText{
    font-size: 18px;

}
.highlight {
    background: #B4CBF0;
    padding: 0 2px;
    border-radius: 4px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.countdown-label{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.countdown-time{
    margin: 0%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.khung-nhap, .right-wrong {
    flex: 1;
    margin: 10px;
}

.khung-nhap .InputText :hover{
    color: aqua;
}

input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

input.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.countdown-time {
    display: block;
    width: 60px;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

}

.countdown-time:hover {
    background-color: #0056b3;
}

#showTime {
    margin: 0;
}

.point-power{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.click-play {
  width: 50px;
  height: 25px;
  background-color: white;
  border: none;
  border-radius: 20px;
  color: rgb(1, 1, 1);
}
